@import "tailwindcss";
@import "weather-icons/css/weather-icons.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* E-ink specific colors */
  --eink-black: #000000;
  --eink-white: #ffffff;
  --eink-red: #ff0000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-eink-black: var(--eink-black);
  --color-eink-white: var(--eink-white);
  --color-eink-red: var(--eink-red);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Utilities for E-ink */
.e-ink-mode {
    filter: grayscale(100%) contrast(150%);
    background-color: white;
    color: black;
}

